body {
  margin: auto;
  max-width: 1440px;
}

.container {
  margin: 44px 50px 0 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#logo img {
  width: 61.09px;
  height: 19px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 224px;
}



.menu .link {
  font-weight: 400;
  left: 318px;
  color: black;
  text-decoration: none;
  flex: 1;
  margin-right: 30px;
}


.menu .link:hover {
  color: blue;
  font-weight: 500;
  left: 138px;
  border-top: solid #0065FC 3px;
  margin: 0 10px 0 10px;
  padding: 58px 0;

}


h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: black;
}

h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: black;
}


ul {
  list-style: none;

}

main #search_filters h1 {
  padding-top: 21px;
}

main #search_filters h2 {
  margin-top: -8px;
  font-weight: 400;
}

.searching .fa-location-dot {
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searching {
  display: flex;
  width: 368px;
  height: 49px;
}

input[type="search" i] {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  width: 236px;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
  padding-left: 10px;
}


.searching .fa-magnifying-glass {
  visibility: hidden;
}

input[type="submit" i] {
  background-color: blue;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  font-weight: 700;
  width: 132px;
}

.article2 {
  display: flex;
  align-items: baseline;
  margin-top: 17px;
}

#search_filters .Filtres {
  font-weight: 700;
  text-align: center;
}

.buttonsfilters>li button:hover {
  background: #deebff;
  border: 2px solid #d9d9d9;
  border-radius: 25px;

}

.buttonsfilters {
  display: flex;
  flex-direction: row;
}

.buttonsfilters>li {
  margin-right: 30px;
}

.buttonsfilters>li button i {
  color: #0065FC;
  width: 22px;
  height: 16px;
  padding: 0 10px 0 0;
}



.buttonsfilters>li button {
  border-radius: 25px;
  border: 2px solid #D9D9D9;
  padding: 4px 20px 4px 20px;
  height: 48px;
  background-color: white;
  color: black;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 17px;
  line-height: 20px;
  white-space: nowrap;
}

#infos {
  display: flex;
  width: 489px;
  height: 24px;
  align-items: center;
}


#infos label i {

  color: #0065FC;
  border: 1px solid #D9D9D9;
  border-radius: 24px;
  width: 24px;
  height: 24px;
  justify-content: center;
  margin-right: 11px;
  display: inline-flex;
  align-items: center;

}


#infos>h2 {
  font-weight: 400;
  display: inline-block;
}

.section1 {
  background-color: #f2f2f2;
  display: flex;
  width: 880px;
  height: 626px;
  border-radius: 20px;
  flex-direction: column;
}

#col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  min-width: 100%;
}

.cardsheb>a {
  text-decoration: none;
  color: black;
}

.section1>h2 {
  display: flex;
  align-items: flex-start;
  margin: 42px 0 0 40px;
  font-weight: 700;
  font-size: 22px;
}

.section1 .cardsheb {
  display: inline-table;
  background-color: white;
  border-radius: 20px;
  width: 246px;
  height: 199px;
  direction: unset;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 23px 15.5px 40px 15.5px;
}

.imgheb {
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
  width: 246px;
  height: 124px;
  object-fit: cover;


}

.section1 .titlecard {

  margin-top: 4px;
  margin-left: 16px;
}

.section1 .content>p {

  margin-top: -9px;
  margin-left: 16px;
}

.section1 .notes {

  margin-top: -9px;
  margin-left: 16px;
  margin-bottom: 11px;
  color: #0065FC;
  width: 12px;
  height: 12px;
  display: flex;
}


.empty-star {

  color: #D9D9D9;
}

.section1 .showmore {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin: -10px 0 46px 44px;
}

.showmore>a {
  text-decoration: none;
  color: black;
}


.morefamous {
  width: 420px;
  height: 625px;
  background: #F2F2F2;
  border-radius: 20px;
  margin-left: 40px;
}

.morefamous h3 {
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

.morefamous .fa-chart-line {
  width: 18px;
  height: 15px;
  color: #0065FC;
}

#famous-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 41px 40px 0 37px;
}

.morefamous .cards {
  width: 343px;
  height: 144px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  margin: 28px 40px 33px 37px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.imgpop {
  width: 137px;
  height: 144px;
  box-sizing: border-box;
  border: 5px solid #FFFFFF;
  border-radius: 20px 0 0 20px;
}

.morefamous .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.morefamous .notes {
  color: #0065FC;
  margin: 0 0 12px 15px;
  display: flex;
}

.morefamous .titlecard {
  font-weight: 700;
  width: 169px;
  height: 38px;
  line-height: 19px;
  margin: 16px 22px 7px 15px;
}

.morefamous .content>p {

  font-weight: 400;
  width: 169px;
  height: 15px;
  margin: 0 22px 44px 15px;
}

.all {
  display: flex;
  width: 100%;
  padding: 39px 0 0 0;
}

.activity {
  margin-top: 60px;
}

.blocactiv {
  display: flex;
  justify-content: space-between;
}

.activity>h2 {
  font-weight: 700;
  font-size: 22px;
}

.activcard>img {
  border-radius: 20px;
  width: 302px;
  height: 444px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activcard .titlecard {
  background: #FFFFFF;
  border-radius: 0px 0px 20px 20px;
  width: 284px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  height: 56px;
  display: flex;
  align-items: center;
  margin-top: -59px;
  padding-left: 19px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: justify;
  background: #F2F2F2;
  height: 225px;
  margin-top: 60px;
}

.footer {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer ul,
footer .footer>h2 {
  margin-left: 70px;
}

footer ul {
  padding-inline-start: 0;
}

.footer li {
  margin: 0 0 12px 0;
}


@media screen and (max-width : 991px) {
  body {
    max-width: 991px;
  }

  #logo img {
    width: 61.09px;
    height: 19px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 224px;
  }

  main #search_filters h1 {
    width: 580px;
  }

  main #search_filters h2 {
    font-weight: 400;
  }

  #infos {
    padding: 20px 0 39px 0;
  }

  .all {
    display: contents;
    width: 100%;
    padding: 39px 0 0 0;
  }

  #famous-head {
    padding: 34px 0 0 0;
  }

  .morefamous {
    width: 883px;
    height: 278px;
    background: #F2F2F2;
    border-radius: 20px;
    margin: 0;
  }

  .morefamous .cards {
    width: 252px;
    height: 144px;
    display: inline-flex;
    margin: 21px -16px -3px 38px;
  }

  .imgpop {
    width: 106px;
    object-fit: cover;
  }

  .morefamous .titlecard {
    width: 111px;
    line-height: 16px;
  }

  .morefamous .content>p {
    width: 132px;
    height: 30px;
    margin: 7px 4px 0 10px;
  }

  .morefamous .notes {
    margin: 25px 68px 12px 10px;
  }

  .activcard>img {
    width: 182px;
    height: 276px;
    object-fit: cover;
  }

  .activcard .titlecard {
    width: 163px;
    align-items: center;

  }

  footer {
    width: 879.65px;
  }
}



@media screen and (max-width : 767px) {

  body {
    max-width: max-content;
  }

  .container {
    margin: 21px 22px 0 20px;
  }

  header {
    align-items: center;
    flex-direction: column;
  }


  #logo img {
    margin-bottom: 40px;
  }

  .menu {
    display: flex;
    width: 100%;
    justify-content: center;
  }


  .menu .link {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: solid #F2F2F2 3px;
  }

  .menu .link:hover {
    border-top: none;
    border-bottom: solid #0065FC 3px;
    margin: 0;
  }

  main #search_filters h1 {
    width: 298px;
  }

  #search_filters {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 40px;
  }

  input[type="submit" i]{
    visibility: hidden;
    display: none;
  }


  .searching .fa-magnifying-glass {
    visibility: visible;
    background-color: blue;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    width: 49px;
}

.article2 {
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .buttonsfilters {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
  }

#infos{
  width: 298px;
}


.all{
  display: flex;
  flex-direction: row-reverse;
}

.section1{
  border-radius: inherit;
background-color: #FFFFFF;

}

.morefamous{

  width: 100%;
  height: 580px;
  border-radius: inherit;
  margin: 0;
}

  }

 
  