html {
  font-size: 16px;
  font-family: Raleway;
  line-height: 19px;
  font-weight: 400;
  color: black;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav img {
  width: 61.09px;
  height: 19px;
}

nav ul {
  display: flex;
  flex-direction: row;
align-items: space-between;

}

.container {
  max-width: 1400px;
  height: 992px;
}

h1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: black;
}

h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: black;
}


ul {
  list-style: none;

}

/*
.section1{
  background-color: #f2f2f2;
  display: flex;
  
  
}

.section1 .cardsheb{
  display: inline;
  background-color: white;
  border-radius: 20px;
  width: 246px;
  height: 199px;
  direction: row;
  justify-content: space-between;
  
}

.imgheb{
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 20px 20px 0px 0px;
  width: 246px;
  height: 124px;


}*/